.about_container {
  padding: 1rem 12rem;
}

.about_container > * {
  margin: 1rem;
}

.about_container h1 {
  font-size: 3em;
}
.about_container span {
  color: #2278fb;
}

.about_container h2 {
  font-size: 2em;
  line-height: 3.5rem;
}

.stacks {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 70%;
}

.stacks_icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 0.9rem;
}

@media screen and (max-width: 768px) {
  .about_container {
    padding: 1.5rem 5.5rem;
  }
  .about_container h1 {
    font-size: 2em;
  }

  .about_container h2 {
    font-size: 1.5em;
    font-weight: 600;
  }
}

@media screen and (max-width: 550px) {
  .about_container {
    padding: 8vh 1rem;
  }

  .about_container h1 {
    font-size: 2em;
  }

  .about_container h2 {
    font-size: 1.3em;
    font-weight: 500;
    line-height: 2rem;
  }
}
