@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");

html,
body {
  background-color: #12141f;
  scroll-behavior: smooth;
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Sora", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: hsla(0, 0%, 76.9%, 0.25);
}

html::-webkit-scrollbar-thumb {
  background: #2278fb;
  border-radius: 8px;
  height: 5px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
